[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "dein.vim"]
	path = dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule ".vim/dein/repos/github.com/Shougo/dein.vim"]
	path = .vim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
